{% extends "base.html" %}

{% block content %}
<div class="p-5 mt-5 pl-5 pl-5 pl-5 align-center " >
<form class="allign-center" method="post">
    {% csrf_token %}
    <p>
        <label for="username">User Name</label>
        <input id="username" type="text" name="username">
    </p>
   
    <p>
        <label for="password">Mot de passe</label>
        <input type="text" name="password" id="password">
    </p>
    <div class="flex">
        <button type="submit">connexion</button>
        <a href="{% url 'signup' %}">pas de compte ?</a>
    </div>

</form>
</div>
{% endblock %}