<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="footer, address, phone, icons" />
    <link rel="icon" type="image/x-icon" href="/images/img/order.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>DFn</title>
    <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

</head>
<body>
    
    <nav class="main_nav navbar navbar-expand-lg bg-lightd-flex ">
        <div class="container-fluid"+>
            <ul class="row mt-2 d-flex" >
                <li class="logo">
                    <a href="{% url 'home' %}">Daily-food</a>
                </li>
                <li>
                    <button type="button" class="btn btn-outline-primary">Accueil</button>
                </li>
                <li>
                    <button type="button" class="btn btn-outline-primary panier">Panier (0)</button>
                </li>
                <li>
                    <button type="button" class="btn btn-outline-primary">Categorie</button>
                </li>
            </ul>
            <div class="row fluid mt-2 d-flex ">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 mr-2 " name="item-name" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success mr-2" type="submit">Recherche</button>

                    {% if user.is_authenticated %}
                        <div class="btn btn-success btn-circle btn-xl mr-2 ml-2">
                        <i class="fa fa-user"></i>
                        {{ user.username }}
                        </div>
                        <a href="{% url 'logout' %}"><button type="button" class="btn btn-success mr-4 ml-2"><i class="fa fa-sign-out" aria-hidden="true"></i></button></a>
                    {% else %}
                        <a href="{% url 'signup' %}"><button type="button" class="btn btn-success mr-2 ml-2"><i class="fa fa-sign-in" aria-hidden="true"></i></button></a>
                        <a href="{% url 'login' %}"><button type="button" class="btn btn-success mr-4 ml-2"><i class="fa fa-user " aria-hidden="true"></i></button></a>
                        
                    {% endif %}
                </form>
            </div>
        </div>    
    </nav>
    
    

        {% block content %}

        {% endblock %}

        <div class="justify-content-end ml-4 mt-5 " ><button class="btn btn-success ">back</button></div>
        

        <footer class="footer-distributed">

            <div class="footer-left">
        
                <h3>Daily-<span>Food</span></h3>
        
                <p class="footer-links">
                    <a href="#">Home</a>
                    ·
                    <a href="#">Blog</a>
                    ·
                    <a href="#">Pricing</a>
                    ·
                    <a href="#">About</a>
                    ·
                    <a href="#">Faq</a>
                    ·
                    <a href="#">Contact</a>
                </p>
        
                <p class="footer-company-name">Daily-food &copy; 2022</p>
            </div>
        
            <div class="footer-center">
        
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Yaoundé </span> CAMEROUN</p>
                </div>
        
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+237 653761460</p>
                </div>
        
                <div>
                    <i class="fa fa-envelope"></i>
                    <p>
                        <a href="mailto:support@company.com">dailyfood@gmail.com</a>
                    </p>
                </div>
        
            </div>
        
            <div class="footer-right">
        
                <p class="footer-company-about">
                    <span>About the company</span>
                    Fantacy Design is a blog for web designers, web develpor  &amp; SEO Learner.
                </p>
        
                <div class="footer-icons">
        
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="https://wa.me/qr/P7NW6KPL4OBUE1 "><i class="fa fa-whatsapp"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/jack0237"><i class="fa fa-github"></i></a>
        
                </div>
            </div>
        </footer>
    </body>
    {% block js %}
    {% endblock %}
</html>