{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="container-fluid" id="col_0">
    <div>
        <h1 class="text-1">Are you starving? </h1>
        <h1 class="text-2">Within a few clicks, find meals that are<br>accessible near you</h1>
    <nav class="first-nav">
            <div class="deliver-buttons">
                <button><i class="fas fa-motorcycle me-2"></i>Delivery</button>
                <button><i class="fas fa-shopping-bag me-2"></i>Pickup</button>
            </div>
            <div class="adres-location">
                <div class="search">
                    <div class="input-group-icon">
                    <input class="form-control"  type="text" placeholder="Enter Your Address" />
                    </div>
                </div>
                <div class="search">
                    <button class="form-control" type="submit">Find Food</button>
                </div>
            </div>    
    </nav>
    </div>
    <div>
        <div><img class="img-fluid" src="{% static 'images/img/hero-header.png' %}" alt="hero-header" /></div>
    </div>
    </section>

 
    <div class="row fluid container-fluid ">
        {% for product in product_object %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image }} " alt="" class="card-img-top ">
                    <div class="card-body">
                        <div id="aa{{ product.id }}" class="card-title">{{ product.title }}</div>
                        <div style="color:rgb(163, 161, 161)" class="card-text">${{ product.price }}</div>
                        <a href="{{ product.id }}" class="btn btn-warning">Voire</a> <!-- to get the id and call the id fonction -->
                        <button id="{{ product.id }}" class="btn plus1 btn-success"> Ajouter</button>
                    </div>
                </div>  
            </div>
        {% endfor %}
    </div>

    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination justify-content-center ">
                {% if product_object.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.previous_page_number }}">Precedent</a>
                    </li>
                {% endif %} 

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_object.number }}">{{ product_object.number }}</a>
                    </li>
                
                {% if product_object.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.next_page_number }}">Suivant</a>
                    </li>
                {% endif %} 
            </ul>
        </div>
    </div>


{% endblock %}
{% block js %}
    <script type="text/javascript">
        console.log('Hello');
        if (localStorage.getItem('panier') == null) {
                var panier = {};
            }else {
                panier =  JSON.parse(localStorage.getItem('panier'));  
            }
            $(document).on('click', '.plus1', function(){
                console.log('ajouter');
                var item_id = this.id.toString();
                console.log(item_id);
                if(panier[item_id] != undefined){
                    panier[item_id] = panier[item_id] + 1;
                }
                else{
                    panier[item_id] = 1;
                }
                console.log(panier);
                localStorage.setItem('panier', JSON.stringify(panier));
                document.getElementById('panier').innerHTML = "Panier("+ Object.keys(panier).length+")";
            
        });
        
            AfficherList(panier);

            function AfficherList(panier){
                var panierString = " ";
                panierString += "<h5>Voici votre panier</h5>";
                var index = 1;
                for(var x in panier){
                    panierString += index;
                    panierString += document.getElementById("aa"+ x).innerHTML + " Qte: " + panier[x];
                    index += 1;
                }
                panierString = "<a href='/checkout' class='btn btn-primary'>Checkout</a>";
                $('[data-toggle="popover"]').popover();
                    document.getElementById('panier').setAttribute('data-bs-content', panierString);
        }

    </script>

{% endblock %}