<DOCTYPE html>
    {% load static %}

    {% block content %}

    <html lang="en">
        <head>
            <meta charset="UTF-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
            <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
            <title>Formulaire d'Inscription et de Connexion</title>
        </head>
        <body>
            <div class="container">
                <div class="forms">
                    <div class="form login">
                        <span class="title">connexion</span>

                        <form action="#">
                            <div class="input-field">
                                <input type="text" placeholder="Enter your email" required>
                                <i class="uil uil-envelope icon"></i>
                            </div>
                            <div class="input-field">
                                <input type="password" placeholder="Enter your password" required>
                                <i class="uil uil-lock icon"></i>
                                <i class="uil uil-eye-slash showHidePw"></i>
                            </div>

                           <div class="checkbox-text">
                                <div class="checkbox-content">
                                    <input type="checkbox" id="logCheck">
                                    <label for="logCheck" class="text">se souvenir</label>
                                </div>

                                <a href="#" class="text">mot de passe oublié?</a>
                           </div> 
                           <div class="input-field button">
                            <input type="button" value="se connecter">
                           </div>
                        </form>
                        
                        <div class="login-signup">
                            <span class="text">pas inscrit?
                                <a href="#" class="text signup-text">inscris toi!</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            

            {% endblock %}
        </body>

    </html>